<h1>Edit pet</h1>

<%= form_for @pet do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :species %>
  <%= f.select :species, Pet::SPECIES %>
  <%= f.label :found_on %>
  <%= f.date_field :found_on %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back to index', pets_path %>
